@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 22px;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 13px;
  width: 100vw;
  height: 50px;
  background-color: burlywood;
  z-index: 10;
}

main {
  width: 1024px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

nav main {
  padding-top: 0px;
}

nav main a {
  text-decoration: none;
  color: blanchedalmond;
  font-family: 'Raleway', sans-serif;
  padding-top: 100px;
  padding-right: 15px;
}

nav main a:hover {
  text-decoration: underline;
  color: peru;
}

nav .selalukananatas {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: navajowhite;
  border-radius: 15px;
}

nav .container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}



section {
  width: 100%;
  height: 100vh;
  position: relative;
}

section.pertama {
  background-color: burlywood;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  width: auto;
  padding-top: 50px;
  padding-bottom: 400px;
}

section.kedua {
  background-color: wheat;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 50px;
}

section.kelima {
  background-color: burlywood;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  width: auto;
  padding-top: 50px;
}

section.keenam {
  background-color: wheat;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 500px;
}


.satu {
  width: 512px;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 100px;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  background-color: blanchedalmond;
}



.dua {
  width: 512px;
  height: 250px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  background-color: peru;
}

.tiga {
  position: left;
  width: 512px;
  height: 250px;
  padding-left: 100px;
  padding-top: 100px;
  float: left;
  background-color: peru;
}


section.a {
  background-image: url('../image/1.gif');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section.b {
  background-image: url('../image/2.gif');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section.c {
  background-image: url('../image/3.gif');
  width: 550px;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding-top: 500px;
  padding-bottom: 90px;
  float: left;
}

section.d {
  background-image: url('../image/4.jpg');
  width: 300px;
  height: 600px;
  padding-left: 450px;
  padding-right: 50px;
  margin-left: 100px;
  margin-top: 20px;
  padding-top: 500px;
  padding-bottom: 50px;
  float: left;
  background-repeat: no-repeat;
}

section.e {
  background-image: url('../image/5.jpg');
  width: 100px;
  height: 50px;
  padding-left: 500px;
  padding-right: 800px;
  margin-left: 100px;
  margin-top: 20px;
  padding-top: 500px;
  padding-bottom: 50px;
  float: left;
  background-repeat: no-repeat;
}

section.ketiga {
  background-color: burlywood;
  padding-bottom: 100px;
  background-position: top left;
  width: auto;
  padding-top: 50px;
}

section .left {
  position: relative;
  width: 40%;
  height: 100%;
  float: left;
}

section .right {
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
}

section .melayang {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 40%;
  height: 200px;
  /*background-color: pink;*/
}
/**/

h1 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: Ivory;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: sienna;
  padding-top: 35px;
}

h8 {
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  color: saddlebrown;
  float: center;
}

h3 {
  font-family: 'raleway', sans-serif;
  color: Ivory;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: sienna;
  padding-top: 20px;
  padding-left: 50px;
}

h5 {
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  color: saddlebrown;
}

h6 {
  font-family: 'Raleway', sans-serif;
  color: sienna;
  padding-top: 35px;
  padding-left: 50px;
  text-decoration: underline;
}

h7 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: Ivory;
  padding-left: 65px;
  text-align: center;
}

p {
  font-family: 'raleway', sans-serif;
  color: sienna;
}


section.a {
  background-image: url('../image/1.gif');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section.ketiga {
  background-color: tan;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 50px;
}

section.keempat {
  background-color: cornsilk;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 50px;
}
}


@media (max-width: 1024px) {
  main {
    width: 100vw;
  }
  
  section .left, section .right {
    width: 100%;
    height: 50vh;
  }
  
  section .melayang {
    top: 80%;
    left: 10%;
    width: 90%;
  }
}